body{
    font-family:SimSun;
}
.container{
    margin: 0;
    padding: 0;
}
.row{
    margin: 0;
    padding: 0;
}
/*head*/
.head{
    height: 200px;
    width: 100%;
}
.head_bg{
    position: absolute;
    background: url("../imgs/bg_h.png");
    height: 200px;
    width: 100%;
    z-index: -1000;
}
.head_bar{
    background-color: rgba(255, 255, 255, 0.6);
    height: 20%;
    position: relative;
    top:0;
}
.head_link{
    position: absolute;
    right: 0;
    margin-top: 5px;
    margin-right: 8%;
}
.head_link a,p{
    display: inline-block;
}
.head_link a{
    color: rgb(49, 51, 53);
    text-decoration: none;
}
.head_link a:hover{
    color: rgb(43, 43, 43);
}
.search{
    position: relative;
    display: inline-block;
    top:92px;
    left: 80%;
    bottom: 0;
}
.search form{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}
.head_input{
    -web-kit-appearance:none;
    padding: 0;
    -moz-appearance: none;
    background-color: rgba(255, 255, 255, 0);
    font-size:1.4em;
    border:0 solid #c8cccf;
    color:#6a6f77;
}
.head_input:focus{
    outline: none;
}
.search_btn{
    background-color: rgba(255, 255, 255, 0);
    padding: 0;
}
/*body*/
.body{
    width: 100%;
    padding-left: 15%;
    margin-top: 20px;
    align-content: center;
}
.carousel_self{
    width: 60%;
}
.slide_point{
    position: absolute;
    right: -80%;
}
.slide_point li{
    height: 10px;
    width: 10px;
    border-radius: 5px;
    margin-right: 20px;
}
.carousell_img{
    display: inline-block;
    border-radius: 15px;
}
.side_bar{
    /*position: absolute;*/
    /*width: 400px;*/
    /*height: 375px;*/
    border-radius: 15px;
    box-shadow:3px 3px 4px 3px #dce1e3;
    /*left:1180px;*/
}
.nav-link{
    color: #6a6f77;
    border-bottom: 1px solid #6a6f77;
}
.nav-link:hover{
    color: #555758;
    border-bottom: 1px solid #555758;
}
.active{
    color: #2b2b2b;
}